<!DOCTYPE html>
<html>
<head>
  <title>buzatina</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
 
<!--   <link rel="stylesheet" href="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"/>
  <script src="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
  -->

  <style type="text/css">

    .selectFont {
        font-family: 'Crimson Text', serif;
    }

    .buzablue {
        background-color: #0275d8;
    }

    .buzapop {
        background-color: #0275d8;
        color: white;
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    .card2 {
        /* Add shadows to create the "card" effect */
        box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    .card1 {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover1 {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    }

    .text-concat {
      position: relative;
      display: inline-block;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
      line-height: 1.2em;
      text-align:justify;
    }

    .glyphicon.glyphicon-th-large {
        font-size: 20px;
    }


  </style>

</head>

<body class="selectFont buzablue">

    <nav class="navbar w3-top buzablue" style="padding-top: 0px ;margin-top: 0px; padding-bottom: 10px; margin-left: 0px; width: 100%; z-index: 950;">
          
          <!-- Logo -->
          <div class="navbar-header">
                <a class="hidden-md hidden-lg" href="/" style="padding-left: 5px; padding-bottom: 5px; margin: 5px; font-weight: 900;"><img src="https://s3-us-west-2.amazonaws.com/buzatina/logo/name.PNG" style="height: 30px;"></a>
                <button style="color: white;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span style="background-color: white;" class="icon-bar"></span>
                  <span style="background-color: white;" class="icon-bar"></span>
                  <span style="background-color: white;" class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-left"></a>
          </div>

          <div class="collapse navbar-collapse" style="margin-top: 0px; padding-top: 0px;" id="myNavbar" style="display: none;">
              <ul class="nav navbar-nav navbar-right" style="margin-top: 0px; padding-top: 0px; color: white;">

                <li class="hidden-sm hidden-xs" style="margin-right: 15px;"><a href="#" data-toggle="popover" data-placement="bottom" data-trigger="click"><span class="glyphicon glyphicon-th-large"></span></a></li>
                <li class="hidden-md hidden-lg"><button style="background-color: #002341;" class="btn btn-block" id="checkInButton" onclick="getLocation()"><span class="glyphicon glyphicon-map-marker"></span> Check In</button></li>
                <li class="hidden-md hidden-lg" style="display: none; margin-top: 10px;" id="buttonpopover2"><button style="background-color: #002341;" class="btn btn-block"  data-toggle="modal" data-target="#pinInfo"><span class="glyphicon glyphicon-cloud-upload"></span> Add Site</button></li>

              </ul>
          </div>

          <div id="popover_content_wrapper" style="display: none; background-color: #002341; color: #002341;">
            <div style="background-color: blue;"><button class="btn btn-block buzapop" id="checkInButton" onclick="getLocation()"><span class="glyphicon glyphicon-map-marker"></span> Check In</button></div>
            <hr>
            <div id="buttonpopover" style="display: none;"><button class="btn btn-block buzapop" data-toggle="modal" data-target="#pinInfo"><span class="glyphicon glyphicon-cloud-upload"></span> Add Site</button></div>
          </div>

        </div>
      </nav>
        
      {{{body}}}

  <!-- Modal -->
      <div id="pinInfo" class="modal fade" role="dialog" style="width: 100%;">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">

                    <form method="POST" action="/askQuestion" id="askQuestionForm" style="color: #002341;" novalidate>
                      
                      <div class="form-group">
                             
                            <div class="input-group" style="width: 100%;">

                              <input type="number" name="longitudeModal" id="longitudeModal" style="display: none;">

                              <input type="number" name="latitudeModal" id="latitudeModal" style="display: none;">

                              <label>web or social site address:</label>

                              <input name="urlSource" class="form-control sans" placeholder="url..." type="text"></input>
                              <br>
 

                              <label>title:</label>

                              <input name="title" class="form-control sans" placeholder="site title..." type="text"></input>
                              <br>

                              <label style="margin-top: 15px;">About:</label>

                              <textarea type="text" class="form-control" placeholder="keywords people will search for..." name="content" required style="width: 100%;"></textarea>
                              <br>

                              <label style="margin-top: 15px;">Tags:</label>

                              <textarea type="text" class="form-control" placeholder="keywords people will search for..." name="site" required style="width: 100%;"></textarea>
                              
                            </div>
                      </div>
                      <span class="input-group-btn">
                          <button class="btn btn-block buzapop" type="submit" class="card">add site</button>
                      </span>

                    </form>

                </div>
<!--                 <div class="modal-footer">
                  <button type="button" class="btn btn-default" style="margin: 1px;" data-dismiss="modal">Close</button>
                </div> -->
            </div>

          </div>

      </div>       

<script type="text/javascript"> 
 
        var setGeo =  function (dataGeo){

                    $.ajax({
                            type: 'POST',
                            data: JSON.stringify(dataGeo),
                            contentType: "application/json",
                            dataType:'json',
                            url: '/settings/checkIn',                      
                            success: function(data) {
                                console.log('success');                               
                            },

                            error: function(error) {
                                console.log("some error in fetching the notifications");
                             }
                    });

          };

          $(document).ready(function(){
              $('[data-toggle="popover"]').popover({ html : true, content: function() {
                        return $('#popover_content_wrapper').html();
                      }
              });   


               $('[data-toggle="popover"]').each(function() {
                    $(this).popover('hide');
               });

               $('#pinInfo').on('hidden.bs.modal', function () {
                    
                   $('[data-toggle="popover"]').each(function() {
                        $(this).popover('hide');
                   });

                   $(".collapse").collapse('toggle');

                });

          });

          function getLocation() {
              $(".collapse").collapse('toggle');
              if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(showPosition);
              } else {
                  x.innerHTML = "Geolocation is not supported by this browser.";
              }
          };

          function showPosition(position) {

              console.log('We are checking-in Max from button clicked boss');

              localStorage.setItem("longitude", position.coords.longitude);         
              localStorage.setItem("latitude", position.coords.latitude);

              $('#buttonpopover').show();
              $('#buttonpopover2').show();

              $('#longitude').val(Number(position.coords.longitude));
              $('#latitude').val(Number(position.coords.latitude));

              $('#longitudeModal').val(Number(position.coords.longitude));
              $('#latitudeModal').val(Number(position.coords.latitude));


               $('[data-toggle="popover"]').each(function() {
                    $(this).popover('hide');
               });
               

             };
           

          // end the check-in process

</script>

</body>

</html>
