<div class="row buzablue" style="height: 650px;">
	<div class="col-md-3 col-lg-3 col-sm-3 col-xs-1"></div>
	<div class="col-md-6 col-lg-6 col-sm-6 col-xs-10">
	   <br>	 

	    <form method="POST" action="/" id="searchForm" style="width: 100%; margin-top: 150px;" novalidate>  
	        <div class="input-group" style="width: 100%;">
	          <input autofocus type="text" class="form-control card1" placeholder="search around ..." name="site" required style="background-color: #002341; color: white; width: 100%; border-radius: 5px; border: 1px solid #002341; height: 50px;">

	        </div>

	        <input type="number" name="longitude" id="longitude" style="display: none;">

	        <input type="number" name="latitude" id="latitude" style="display: none;">


	        <input type="submit" style="display: none" />	

	    </form>

        <div class="input-group hidden-sm hidden-xs" style="width: 100%; text-align: center; margin-top: 35px; font-size: 50px; color: black;">
        	<img src="https://s3-us-west-2.amazonaws.com/buzatina/logo/buzatina.png" class="w3-center" style="width: 60%;">
        </div>   

        <div class="input-group hidden-md hidden-lg" style="width: 100%; text-align: center; margin-top: 15px; font-size: 50px; color: black;">
        	<img src="https://s3-us-west-2.amazonaws.com/buzatina/logo/buzatina+search+around.png" class="w3-center" style="width: 80%;">
        </div>  

	</div>
	<div class="col-md-3 col-lg-3"></div>
</div>

<script type="text/javascript">

   // localStorage.clear();
	
$(document).ready(function(){


	if (localStorage.getItem("longitude")) {

			  console.log('We are retrieving the location from localStorage Max');
			  $('#buttonpopover').show();
			  $('#buttonpopover2').show();

		      $('#longitude').val(Number(localStorage.getItem("longitude")));
		      $('#latitude').val(Number(localStorage.getItem("latitude")));

		      $('#longitudeModal').val(Number(localStorage.getItem("longitude")));
		      $('#latitudeModal').val(Number(localStorage.getItem("latitude")));


	} else {

	    function getLocation() {
	        if (navigator.geolocation) {
	            navigator.geolocation.getCurrentPosition(showPosition);
	        } else {
	            x.innerHTML = "Geolocation is not supported by this browser.";
	        }
	    };

	    function showPosition(position) {

	    	  console.log('We are setting the location Max');

	    	  localStorage.setItem("longitude", position.coords.longitude);	    	  
	    	  localStorage.setItem("latitude", position.coords.latitude);

	    	  $('#buttonpopover').show();
	    	  $('#buttonpopover2').show();


		      $('#longitude').val(Number(position.coords.longitude));
		      $('#latitude').val(Number(position.coords.latitude));


              $('#longitudeModal').val(Number(position.coords.longitude));
              $('#latitudeModal').val(Number(position.coords.latitude));


	       };
       
	    getLocation();

	};

});

</script>