<div class="row buzablue" style="height: 650px;">
	<div class="col-md-3 col-lg-3 col-sm-3 col-xs-1"></div>
	<div class="col-md-6 col-lg-6 col-sm-6 col-xs-10">
	   <br>	    
	    <form method="POST" action="/" id="searchForm" style="width: 100%; margin-top: 150px;">  
	        <div class="input-group" style="width: 100%;">
	          <input autofocus type="text" class="form-control card1" placeholder="search around ..." name="site" required style="background-color: #002341; color: white; width: 100%; border-radius: 5px; border: 1px solid #002341; height: 50px;">
	        </div>
	        <div class="input-group" style="width: 100%; text-align: center; margin-top: 35px; font-size: 50px; color: black;">
	        	<img src="https://s3-us-west-2.amazonaws.com/buzatina/logo/buzatina.png" class="w3-center" style="width: 60%;">
	        </div>	        
	    </form>                
	</div>
	<div class="col-md-3 col-lg-3"></div>
</div>