<br>

{{#if Message.objQ1}}

    <div style="border-radius: 1px; border: 1px solid #d9d8d5; background-color: white; margin: 5px; padding: 10px;">

      {{#each Message.objQ1.Message1}}

        <a href="/messages/{{this._id}}"><h4 style="font-size: 13px;"><b>{{this.toName}}</b></h4></a>
        <hr>

      {{/each}}

     

{{/if}}

{{#if Message.objQ2}}

 

      {{#each Message.objQ2.Message2}}

        <a href="/messages/{{this._id}}"><h4 style="font-size: 13px;"><b>{{this.fromName}}</b></h4></a>
        <hr>

      {{/each}}

    </div>   

{{/if}}