<br>

{{#if userProfile}}

  <div class="row" style="background-color: white; margin-left: 5px; margin-right: 5px; border-radius: 1px; border: 1px solid #d9d8d5;">

	    <div style="margin-bottom: 5px;">
	       <h6><b><a href="/profile">{{userProfile.name}}<a></b></h6>
	       <img id="userImg" src="" alt="no image" style="height: 65px;" data-toggle="modal" data-target="#"+ {{userProfile._id}}> 
	    </div>
 


		<form method="POST" action="/users/follow" id="searchForm">
			<div class="form-group">
				    <div class="input-group" style="margin-top: 20px; margin-bottom: 20px; margin-right: 10px; margin-left: 10px;">
				      <input type="text" value="{{userProfile._id}}" style="font-size: 11px; display: none;" class="form-control" name="idFollow">
				      <span class="input-group-btn">
				        <button style="background-color: white; color: black;" class="btn btn-default" type="submit">follow</button>
				      </span>
				    </div>
			</div>
		</form>

  </div>

   <br>

{{/if}}