<body>
  <div class="actual-home section-index">

    <div class="actual-home container-logo searchpage w-container">
      <div class="form-search w-form">
        <form class="form" method="POST" action="/users/login" id="registerForm" novalidate>
          <input class="text-field-search-container w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="Enter your name" type="text"><input class="button-search-container-boss w-button" type="submit" value="Submit">
        </form>
      </div>
    </div>

    <div class="container-events search-page w-container" style="padding-top: 100px;">

        {{#if experiences}}

          {{#each experiences}}

            <a class="linkblock-image search-page w-inline-block" href="/experience/{{this._id}}">
              <img class="img-experience on-search-page" src="{{this.fileUrl}}" width="100">
            </a>

          {{/each}}
          
        {{/if}}

    </div>

    <div class="container-navigation w-container">
      <a href="/experiences">
        <img class="icon-navigation" src="https://s3-us-west-2.amazonaws.com/lacatbucket/icons8-Home-50.png">
      </a>
      <a href="/search">
        <img class="icon-navigation" src="https://s3-us-west-2.amazonaws.com/lacatbucket/icons8-Search-Filled-50.png">
      </a>
    </div>

  </div>

  <div class="section-landscape">
    <img class="img-landscape" data-ix="new-interaction-5" sizes="100vw" src="https://s3-us-west-2.amazonaws.com/lacatbucket/cowpow-with-kids.jpeg" srcset="https://s3-us-west-2.amazonaws.com/lacatbucket/cowpow-with-kids.jpeg 800w, https://s3-us-west-2.amazonaws.com/lacatbucket/cowpow-with-kids.jpeg 1080w, https://s3-us-west-2.amazonaws.com/lacatbucket/cowpow-with-kids.jpeg 1141w">
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="https://s3-us-west-2.amazonaws.com/lacatbucket/js/webflow.js" type="text/javascript"></script>
</body>