<div style="padding-top: 50px; margin-top: 50px;">

<!-- {{#if promptRegister}}
<div class="row">
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-md-6 col-lg-6">
    <div><b> please <a href="/users/register" style="color: #1b96fe;">register</a> to get results around you</b></div>
  </div>
  <div class="col-md-3 col-lg-3"></div>
</div>
{{/if}} -->

<!-- {{#if promptCheckIn}}
<div class="row">
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-md-6 col-lg-6">
    <div><b> please <a href="/users/register">register</a> to get results around you</b></div>
  </div>
  <div class="col-md-3 col-lg-3"></div>
</div>
{{/if}} -->

<div class="row">
    <div class="col-md-3 col-lg-3"></div>
    <div class="col-md-6 col-lg-6" style="margin: 10px;">
      <form method="POST" action="/" id="searchForm" style="width: 100%; margin: 10px;">
          
          <div class="input-group" style="width: 90%;">
            <input type="text" class="form-control card1" placeholder="search around jozi..." name="site" required style="background-color: white; border-radius: 5px; border: 1px solid #1b96fe; height: 30px;">
          </div>
          <br>
      </form>
    </div>
    <div class="col-md-3 col-lg-3"></div>
</div>
 
{{#if site}}

  {{#each site}}

  <div class="row">

      <div class="col-md-3 col-lg-3"></div>

      <div class="col-md-6 col-lg-6">
          <div  style="width: 100%; text-align: left; margin: 5px; padding: 5px; background-color: white;">
          <a href="{{this.urlSource}}" style="font-size: 20px; color: #025ca8;">{{this.title}}</a>
          <span class="text-concat" style="margin-right: 5px;">{{this.site}}.</span>
          </div>
      </div>

      <div class="col-md-3 col-lg-3"></div>

  </div>

  {{/each}}


{{/if}}

</div>

<script type="text/javascript">
  
    $('a').click(function(){

      $(this).css('color', 'purple');

    });


</script>